<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Composographer' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4234fddc-eb1a-4439-b0fb-96981c26f737</InstrumentationKey>
</ApplicationInsights>